/*
Author:
Date: 4/11/25
File Name: Practice 7:Revising Fluid Layout
*/
/* I like this font*/
h2{
    color:#EBE8DB;
    font-family: cursive;
    font-size:medium;
  /*black is always good*/
}
p{ 
    color: black;
}  /* I like Image size*/
 img{
    
    border:2px solid blanchedalmond;
    border-style: dotted;
    image size: width: 1px; }


/* CSS Reset */
body, header, nav, main, footer, img, h1, h3, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and images. always fit on edges of window */
body {
    background-color: #EBE8DB;
    
    

}



/* Style rules for mobile viewport */

/* Style rule to hide tab-desk class */
.tab-desk {
    display: none;
}

/* I like the color I picked at color hunt website */
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: center;
    color: #D76CB2; 
    background-color: #3D0301;
}
/* font-size 4em is good*/
header h1 {
    font-size: 3em;
    padding-top: 2%;
    font-family: Arial, Helvetica, sans-serif;
}

/* I like italic forn-style*/
header h3 {
    font-style: italic;
    font-size: 1.25em;
    padding-bottom: 2%;
}

/* Style rules for navigation area */
nav {
    background-color: #B03052;
}

nav ul {
    list-style-type: none;
    text-align: center;
}
/* a lot goin on here*/
nav li {
    display: block;
    font-size: x-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    border-top: 1px solid #EBE8DB;
}

nav li:first-child{
    border-top:none;
}
/* I like the text align center*/
nav li a {
    display: block;
    color:#EBE8DB;
    text-align:center;
    text-decoration: none;
}

/* Style rule for hero image */
#hero {
    clear:left;
}

/* Style rules for main content */
main {
    padding: 2%;
    background-color: #D76CB2;
    overflow: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* I wanted font bigger*/
main h2 {
    color: #3D0301;
    font-size: 2.6em;
}
/* shouldn't forget about em*/
main p {
    font-size: 1.5em;
}
/* the color came out well, also I like the list-stlye type*/
main ul {
    list-style-type:circle;
    margin: 10%;
    font-size: 1.2em;
    color: #EBE8DB;
}



#pamper, #full, #basic {
    margin:0.2%;
}


/* Style rules for footer content */
footer {
    animation-duration: 15s;
    animation-name:multiple-keyframes-example;
    text-align: center;
    font-size: 0.85em;
    clear: left;
    color: #3D0301;
    font-weight: bold;
}
/*keep things small and simple*/
footer a {
    color: #3D0301;
    text-decoration: none;
}
.transition-example {
	background-color: #B03052;
	color: white;
	padding: .5rem;
	transition: background-color 1s linear;
}

.transition-example:hover {
	background-color: red;
	color: blue;
	padding: .5rem 1rem;
	transition: all 1s ease;
}
a {
    border: 2px solid;
    color: purple;
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    transition: all 1.75s;
}
.transition-exampleb {
    background-color:#B03052;
	color: white;
	padding: .5rem 1rem;
	transition:  1s ease;
}
.transition-exampleb:hover{
    background-color:#60e7dc;
    color:yellow;
    transition: all 1.75 ease;
}
.transition-examplec {
     background-color:#B03052;
	color: white;
	padding: .5rem 1rem;
	transition:  1s ease;
}

.transition-examplec:hover{
     background-color:#ab6df1;
    color:rgb(182, 49, 40);
    transition: all 1.75 ease;
}

.transition-exampled {
     background-color:#B03052;
	color: white;
	padding: .5rem 1rem;
	transition:  1s ease;
}
.transition-exampled:hover{
     background-color:#0f0f0f;
    color:rgb(250, 14, 14);
    transition: all 1.75 ease;
}

    

 a:hover {
    background-color:bisque;
    color: green;
    transition: all 1.75 ease;
}


.box {
    text-align: center;
    color: #EBE8DB;
  width: 150px;
  height: 150px;
  background:#3D0301;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.box:hover {
  background-color:bisque;
  cursor: pointer;
  color: #3D0301;
}
@keyframes multiple-keyframes-example {
    0% {
        background-color:#3D0301;
        color: purple;
    }
    50%{
        background-color: orange;
    100% {
        background-color: purple;
        color white
    }
     0% {
        transform: rotate(0);
    }
    50% {transform: rotate(90deg);}
    100% {transform: rotate(0);}
}  
   
}

 .fade {
          animation-name: example;
          animation-duration: 1.7s;
          animation-fill-mode: forwards;
          background:#3D0301;
          width:100vw;
          height:100vh;
          position:fixed;
          top:0;
          left:0;
        }

        @keyframes example {
        from {
            opacity: 1;
            pointer-events: all;
          }
        to {
            opacity: 0;
            pointer-events: none;
            //width:0;
          }
